<section id="editPassword-body">
  <section class="change-password">
    <div class="return-bar" (click)='returnPage()'>
      <span class="icon"></span>
      <span class="text">返回</span>
    </div>
    <span class="title">
      修改密码
    </span>

    <form action="">
      <div class="curpassword">
        <span [style.display]='isFocus["curpassword"]||curpassword.value?"inline-block":"none"'
          [style.height]='isFocus["curpassword"]||curpassword.value?"auto":"0px"'>当前密码</span>
        <input type="password" [attr.isFocusType]='"curpassword"' [style.height]='isFocus["curpassword"]||curpassword.value?"50%":"100%"'
          class='curpassword-input' #curpassword (focus)='accountFocus(curpassword)' (blur)='accountBlur(curpassword)'
          [attr.placeholder]='isFocus["curpassword"]||curpassword.value?"":"当前密码"' autocomplete="new-password" readonly>
        <img (click)='showPassword(curpassword)'
          [attr.src]="curpassword.type=='text' ? './assets/login/img_password_show.png' : './assets/login/img_password_hide.png' "
          src="./assets/login/img_password_hide.png" alt="">
      </div>
      <hr>
      <div class="newpassword">
        <span [style.display]='isFocus["newpassword"]||newpassword.value?"inline-block":"none"'
          [style.height]='isFocus["newpassword"]||newpassword.value?"auto":"0px"'>新密码</span>
        <input type="password" [attr.isFocusType]='"newpassword"' [style.height]='isFocus["newpassword"]||newpassword.value?"50%":"100%"'
          class='newpassword-input' #newpassword (focus)='accountFocus(newpassword)' (blur)='accountBlur(newpassword)'
          [attr.placeholder]='isFocus["newpassword"]||newpassword.value?"":"新密码"' autocomplete="new-password" readonly>
        <img (click)='showPassword(newpassword)'
          [attr.src]="newpassword.type=='text' ? './assets/login/img_password_show.png' : './assets/login/img_password_hide.png' "
          src="./assets/login/img_password_hide.png" alt="">
      </div>
      <hr>
      <div class="reIptNewpassword">
        <span [style.display]='isFocus["reIptNewpassword"]||reIptNewpassword.value?"inline-block":"none"'
          [style.height]='isFocus["reIptNewpassword"]||reIptNewpassword.value?"auto":"0px"'>再次输入新密码</span>
        <input type="password" [attr.isFocusType]='"reIptNewpassword"'
          [style.height]='isFocus["reIptNewpassword"]||reIptNewpassword.value?"50%":"100%"' class='reIptNewpassword-input' #reIptNewpassword
          (focus)='accountFocus(reIptNewpassword)' (blur)='accountBlur(reIptNewpassword)'
          [attr.placeholder]='isFocus["reIptNewpassword"]||reIptNewpassword.value?"":"再次输入新密码"' autocomplete="new-password"
          (keyup)='reIptNewpasswordKeyUp(reIptNewpassword)' readonly>
        <img (click)='showPassword(reIptNewpassword)'
          [attr.src]="reIptNewpassword.type=='text' ? './assets/login/img_password_show.png' : './assets/login/img_password_hide.png' "
          src="./assets/login/img_password_hide.png" alt="">
        <span class="password-error">
          <span class="icon"></span>
          <span class="text">密码不正确</span>
        </span>
      </div>
      <div class="remember-password">
        <label for="item" style="visibility: hidden;"></label>
        <div class="wangji-mima" (mouseenter)='forgetPassWordEnter()' (mouseleave)='forgetPassWordLeave()'>
          <span [ngClass]="{'forgetPasswordIsEnter': forgetPasswordIsEnter}"
            (click)='showTipsPassword(wangjiPasswordTips,$event.target)'>
            忘记密码?
          </span>
          <div class="wangji-mima-tips" [ngStyle]="{'display':forgetPasswordIsEnter?'block':'none'}"
            #wangjiPasswordTips>
            <p>如忘记密码请联系管理员：</p>
            <p class="Gotham-Book">18610103454</p>
            <span #isCopySuccess (click)='copyPhone(isCopySuccess)'>复制联系方式</span>
          </div>
        </div>
      </div>
      <button type='button' class="btn-confirmEdit" (click)='confirmEdit(newpassword,reIptNewpassword)'>确认修改</button>
    </form>
  </section>
</section>