// 字体引入
@font-face {
  font-family: 'Gotham-Black';
  src: url('../src/assets/viewinfor/font/Gotham-Black.otf');
}

.Gotham-Black {
  font-family: 'Gotham-Black' !important;
}

@font-face {
  font-family: 'Gotham-BlackItalic';
  src: url('../src/assets/viewinfor/font/Gotham-BlackItalic.otf');
}

.Gotham-BlackItalic {
  font-family: 'Gotham-BlackItalic' !important;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('../src/assets/viewinfor/font/Gotham-Bold.otf');
}

.Gotham-Bold {
  font-family: 'Gotham-Bold' !important;
}

@font-face {
  font-family: 'Gotham-BoldItalic';
  src: url('../src/assets/viewinfor/font/Gotham-BoldItalic.otf');
}

.Gotham-BoldItalic {
  font-family: 'Gotham-BoldItalic' !important;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../src/assets/viewinfor/font/Gotham-Book.otf');
}

.Gotham-Book {
  font-family: 'Gotham-Book' !important;
}

@font-face {
  font-family: 'Gotham-BookItalic';
  src: url('../src/assets/viewinfor/font/Gotham-BookItalic.otf');
}

.Gotham-BookItalic {
  font-family: 'Gotham-BookItalic' !important;
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('../src/assets/viewinfor/font/Gotham-Light.otf');
}


.Gotham-Light {
  font-family: 'Gotham-Light' !important;
}

@font-face {
  font-family: 'Gotham-LightItalic';
  src: url('../src/assets/viewinfor/font/Gotham-LightItalic.otf');
}

.Gotham-LightItalic {
  font-family: 'Gotham-LightItalic' !important;
}

@font-face {
  font-family: 'Gotham-MediumItalic';
  src: url('../src/assets/viewinfor/font/Gotham-MediumItalic.otf');
}

.Gotham-MediumItalic {
  font-family: 'Gotham-MediumItalic' !important;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../src/assets/viewinfor/font/Gotham-Medium.otf');
}

.Gotham-Medium {
  font-family: 'Gotham-Medium' !important;
}

@font-face {
  /* font-properties */
  font-family: 'Gotham-Thin';
  src: url('../src/assets/viewinfor/font/Gotham-Thin.otf');
}

.Gotham-Thin {
  font-family: 'Gotham-Thin' !important;
}

@font-face {
  font-family: 'Gotham-ThinItalic';
  src: url('../src/assets/viewinfor/font/Gotham-ThinItalic.otf');
}

.Gotham-ThinItalic {
  font-family: 'Gotham-ThinItalic' !important;
}

@font-face {
  font-family: 'Gotham-Ultra';
  src: url('../src/assets/viewinfor/font/Gotham-Ultra.otf');
}

.Gotham-Ultra {
  font-family: 'Gotham-Ultra' !important;
}

@font-face {
  font-family: 'Gotham-UltraItalic';
  src: url('../src/assets/viewinfor/font/Gotham-UltraItalic.otf');
}

.Gotham-UltraItalic {
  font-family: 'Gotham-UltraItalic' !important;
}

@font-face {
  font-family: 'Gotham-XLight';
  src: url('../src/assets/viewinfor/font/Gotham-XLight.otf');
}

.Gotham-XLight {
  font-family: 'Gotham-XLight' !important;
}

@font-face {
  font-family: 'Gotham-XLightItalic';
  src: url('../src/assets/viewinfor/font/Gotham-XLightItalic.otf');
}

.Gotham-XLightItalic {
  font-family: 'Gotham-XLightItalic' !important;
}

@font-face {
  font-family: 'FZLTCXHJW';
  src: url('../src/assets/viewinfor/font/FZLTCXHJW.TTF');
}

.FZLTCXHJW {
  font-family: 'FZLTCXHJW' !important;
}

@font-face {
  font-family: 'FZLTDHJW';
  src: url('../src/assets/viewinfor/font/FZLTDHJW.TTF');
}

.FZLTDHJW {
  font-family: 'FZLTDHJW' !important;
}

@font-face {
  font-family: 'FZLTHJW';
  src: url('../src/assets/viewinfor/font/FZLTHJW.TTF');
}

.FZLTHJW {
  font-family: 'FZLTHJW' !important;
}

@font-face {
  font-family: 'FZLTXIHJW';
  src: url('../src/assets/viewinfor/font/FZLTXIHJW.TTF');
}

.FZLTXIHJW {
  font-family: 'FZLTXIHJW' !important;
}

@font-face {
  font-family: 'FZLTHJW';
  src: url('../src/assets/viewinfor/font/FZLTZHJW.TTF');
}


.FZLTXIHJW {
  font-family: 'FZLTXIHJW' !important;
}


@font-face {
  font-family: 'MicrosoftYaHeiUI';
  src: url('../src/assets/viewinfor/font/msyh.ttc');
}

.MicrosoftYaHeiUI {
  font-family: 'MicrosoftYaHeiUI' !important;
}


@font-face {
  font-family: 'MicrosoftYaHeiUI-Bold';
  src: url('../src/assets/viewinfor/font/msyhbd.ttc');
}

.MicrosoftYaHeiUI-Bold {
  font-family: 'MicrosoftYaHeiUI-Bold' !important;
}

@font-face {
  font-family: 'MicrosoftYaHeiUILight';
  src: url('../src/assets/viewinfor/font/msyhl.ttc');
}

.MicrosoftYaHeiUILight {
  font-family: 'MicrosoftYaHeiUILight' !important;
}
